rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // allow read and update existing records only
    // records should only be created from the functions
    match /{document=**} {
      allow read, update;
    }
  }
}